{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "ecmaFeatures": {
        "jsx": true,
        "modules": true,
        "destructuring": true,
        "spread": true,
        "arrowFunctions": true,
        "blockBindings": true
    },
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "jsx": true
    },
    "rules": {
        "strict": 0,
        "quotes": [ 1, "single" ],
        "no-undef": false,
        "global-strict": false,
        "new-cap": false,
        "no-console": 1,
        "no-extra-semi": 1,
        "no-underscore-dangle": false,
        "no-unused-vars": false,
        "react/jsx-boolean-value": 1,
        "react/jsx-quotes": 1,
        "react/jsx-no-undef": 1,
        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1,
        "react/no-did-mount-set-state": 1,
        "react/no-did-update-set-state": 1,
        "react/no-multi-comp": 1,
        "react/no-unknown-property": 1,
        "react/react-in-jsx-scope": 1,
        "react/self-closing-comp": 1
    }
}
